<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">
            微信绑定
        </label>
        <div class='layui-input-block'>
            <img class="notselect" data-tips-image src="{:url('@admin/index/oauth_qrc')}" style="width:80px;margin-left:-4px">
            <p class="help-block" style="margin-left:-10px">网页授权,微信扫一扫绑定</p>
        </div>
    </div>

</form>
