<!DOCTYPE html>
<html>
<head>
    <title>车厘子 - {$title}</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <script type="text/javascript" src="__STATIC__/webapp/js/jquery-1.11.0.js"></script>


    <link rel="icon" href="http://chexinyuan.com/clz.ico"/>
    <link href="http://chexinyuan.com/clz.ico"
          rel="apple-touch-icon-precomposed">
    <link href="http://chexinyuan.com/clz.ico" rel="Shortcut Icon"
          type="image/x-icon"/>
    <link rel="stylesheet" href="__STATIC__/webapp/css/mob.common.min.css?0809"/>

    <link href="__STATIC__/webapp/css/index.css" rel="stylesheet"/>
    <link href="__STATIC__/webapp/css/mui.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="__STATIC__/webapp/js/mui.js"></script>
</head>


<body style="background-color: #fff !important;">


<script type="text/javascript">
    window._gaq = window._gaq || [];
    window._ana = window._ana || [];
    _ana.baseTime = new Date().getTime();
    window.$$ = window.$$ || {};
    $$.__IMG = 'http://img002.mllres.com' || 'http://image.meilele.com';
    window._onReadyList = window._onReadyList || [];
    window._$_ = function (id) {
        return document.getElementById(id)
    };
</script>

<div style="margin: 130px auto;text-align: center">
    <img src="__STATIC__/webapp/images/error.png" style="width: 200px" alt="{$title}">
    <p style="font-size: 16px;margin-top: 20px;color: grey;">{$title|default='暂无数据！'}</p>
</div>


<footer class="mll-footer" style="position:absolute;width: 100%;bottom: 0px;left: 0px;margin-top: 50px;">
    <div class="mll-footer-icp">如有问题，联系客服<a href="tel:4006561513">400 - 6561 -513</a></div>
</footer>

</body>
</html>
