<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{:sysconf('wap_title')}</title>
    <meta name="keywords" content="{:sysconf('wap_keywords')}">
    <meta name="description" content="{:sysconf('wap_description')}">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="no-cache" http-equiv="cache-control">
    <link href="__STATIC__/index_files/cheshangle.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/index_files/cheoo.css" rel="stylesheet" type="text/css">

    <script src="__STATIC__/index_files/jquery-1.8.3.min.js"></script>
    <script src="__STATIC__/index_files/cheshangle.js"></script>
    <script src="__STATIC__/index_files/shencong.js"></script>
    <style>
        @media screen and (min-width: 750px){
            body{
                max-width: 640px;
                margin: 0 auto;
            }
            .M_article img{
                max-width: 620px !important;
            }
            .M_header{
                max-width: 640px !important;
            }
            .M_price-bottom{
                width: 640px;
                left: auto !important;
                right: auto !important;
            }
        }
    </style>
    {include file="public/baidu_hm" /}
</head>

<body>
<div class="M_scrollHidden">

    <div class="M_main pt0">
        <!-- 下载提示 begin -->
        <!-- 经销商 begin -->
        <div class="M_main_con M_clearfix">

            <div class="M_distributor">

                <div class="title">

                    <a href="{:url('wap/index/index')}" class="left"><i class="M_icon M_icon_arrow-lw"></i></a>

                    <div class="img">
                        <img src="{:sysconf('company_image')}">
                    </div>

                    <h1>{:sysconf('company_name')}<i class="M_icon M_icon_zhan M_ml5"></i></h1>

                    <p><a href="https://apis.map.qq.com/uri/v1/search?keyword=龙岗区宝南路9号101室&region=深圳&referer=OB4BZ-D4W3U-B7VVO-4PJWW-6TKDJ-WPB77"><i class="M_icon M_icon_location-b"></i>{:sysconf('company_address')}</a> </p>

                    <a href="javascript:showPhone(111564);" id="dealer_index_button" class="M_btn M_btn_blue M_br3"><i
                            class="M_icon M_icon_tel-w M_mr5"></i>销售热线</a>

                </div>

                <div class="menu">

                    <ul>

                        <li class=""><a href="{:url('wap/index/index')}">首页</a></li>

                        <li class=""><a href="/index.php/wap/index/get_list">全部车型</a></li>

                        <li class=""><a href="/index.php/wap/index/has_sale">已售 {$has_sale}</a></li>

                        <li class="current"><a href="{:url('wap/index/about')}">关于我们</a></li>

                    </ul>

                </div>

            </div>

        </div>
        <!-- 电话弹层 begin -->
        <div class="M_pop_tel" id="">

            <ul class="list M_br12">

            </ul>

            <a href="javascript:hidePhone();" class="close M_br12">取消</a>

        </div>

        <div class="M_pop-bg"></div>


        <!-- 关于我们 begin -->
        <div class="M_main_con">

            <div class="M_article">
                <div class="info">
                    {$vo.content|htmlspecialchars_decode|raw}
                </div>
            </div>

        </div>

    </div>

</div>


<script src="__STATIC__/index_files/jquery-1.8.3.min.js"></script>
<script src="__STATIC__/index_files/shencong.js"></script>
{include file="public/weixin_share" /}
</body>
</html>