<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">权限名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}' required="required" title="请输入权限名称" placeholder="请输入权限名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权限描述</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入权限描述" required="required" title="请输入权限描述" class="layui-textarea" name="desc">{$vo.desc|default=""}</textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">该组审核领导</label>
        <div class="layui-input-block">
            <select style="display: block;" class="layui-select full-width" name="leader">
                {foreach $users as $user}
                <!--{if isset($vo.leader) and $user.id eq $vo.leader}-->
                <option selected value="{$user.id}">{$user.name}</option>
                <!--{else}-->
                <option value="{$user.id}">{$user.name}</option>
                <!--{/if}-->
                {/foreach}
            </select>
        </div>
    </div>


    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

</form>
